################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs
bin
obj
packages
*.user
/BDInfo.Core/BDInfoDataSubstractor/Properties/launchSettings.json
/BDInfo.Core/BDInfo/Properties/launchSettings.json
