<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<config>
		<add key="globalPackagesFolder" value=".\packages" />
	</config>
	<packageSources>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
		<add key="github" value="https://nuget.pkg.github.com/dotnetcorecorner/index.json" />
		<add key="discUtils" value="https://www.myget.org/F/discutils/api/v3/index.json"/>
	</packageSources>

	<packageSourceCredentials>
		<github>
			<add key="Username" value="Sonic3R" />
			<add key="ClearTextPassword" value="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" />
		</github>
	</packageSourceCredentials>
</configuration>